@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500');

:root {
  --primary-color: #EF4823;
  --secondary-color: #FFA66C;
  --background: #fff3e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--background);
  accent-color: var(--primary-color);
  font-size: 1.3rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
}

h1,
h1+p,
h2,
h2+p,
p {
  grid-column: 1/3;
  text-align: center;
}

main>div {
  grid-column: 1/3;
  padding: 10px;
  border-bottom: 2px solid var(--secondary-color);
  display: flex;
  justify-content: flex-start;
  justify-self: stretch;
}

main>div label {
  font-size: 1.3rem;
}

label[for="numberOfWords"],
select {
  grid-column: 1/3;
  justify-self: center;
}

select {
  background-color: white;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.highlight {}

button {
  border-radius: 10px;
  background-color: #EF4823;
  border-color: transparent;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

button.inactive {
  font-weight: 300;
  background-color: var(--background);
  border: 2px dashed var(--primary-color);
  color: var(--primary-color);
}

button:hover {
  background-color: var(--secondary-color);
  color: black;
  border-color: transparent;
}

.start {
  grid-column: 1/3;
  font-size: 2rem;
  justify-self: center;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
}

.message {
  grid-column: 1/3;
  background-color: #FFC8C4;
  color: black;
  padding: 10px;
  border-radius: 10px;
  justify-self: center;
  display: flex;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.message svg {
  width: 30px;
  margin-right: 10px;
  fill: #A20D00;
}

.score {
  grid-column: 1/3;
  padding: 10px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: var(--primary-color);
  border: 8px solid var(--secondary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  justify-self: center;
  margin: 20px;
}


p {
  font-size: 1.6rem;
}

.word {
  grid-column: 1/3;
  justify-self: center;
  font-size: 3rem;
}

input[type="text"] {
  height: 51px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: inherit;
  flex-grow: 2;
  border: 0;
  border-radius: 15px;
  border: 2px solid var(--primary-color);
}

.inputWord {
  padding: 0;
  border-bottom: 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submit {
  padding: 0 10px;
  border-radius: 15px;
}

.solution {
  grid-column: 1/3;
  background-color: transparent;
  color: var(--primary-color);
  padding: 0;
}

.solution:hover {
  background-color: transparent;
}

.solution>span {
  text-decoration: underline;
}

.progress {
  grid-column: 1/3;
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.progress::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--background);
}

.progress>p {
  position: relative;
}

table {
  grid-column: 1/3;
  border-collapse: collapse;
  border-top: 3px solid var(--secondary-color);
  justify-self: stretch;
}

th,
td {
  text-align: left;
  padding: 15px;
}

tr {
  border-bottom: 1px solid var(--secondary-color);
}

tr:last-child {
  border-bottom-width: 3px;
}

.wrong {
  background-color: var(--secondary-color);
}