@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');

/* Basic styles and containers*/

:root {
  --accent-color: #EF4823;
  --primary-color: #FFA66C;
  --primary-color-light: hsl(24, 100%, 85%);
  --background: #fff3e1;
  --background-opacity: rgba(255, 243, 225, 0.5);
  --grey-dark: hsl(25, 21%, 24%);
  --grey--medium: hsl(26, 15%, 47%);
  --grey-light: hsl(30, 25%, 98%);
  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.5rem;
  --fs-4: 2.25rem;
  --fs-5: 3rem;
  --fs-6: 3.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--grey-dark);
  background-color: var(--background);
  font-size: var(--fs-2);
  background-image: url(./images/background.svg);
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

#app {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
  border-bottom: 10px solid var(--primary-color);
}

#app::before {
  content: "";
  background: url('./images/waves.svg');
  position: absolute;
  inset: 0;
  width: 100%;
  height: 200px;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 32px;
  justify-items: center;
  padding: 24px 0;
}

main>div {
  grid-column: 1/3;
  padding: 24px 16px;
  border-bottom: 2px solid var(--primary-color-light);
  background-color: var(--background-opacity);
  display: flex;
  align-items: center;
  justify-self: stretch;
}

.all-kana {
  grid-column: 1/3;
  margin: 16px 0 24px 0;
  font-weight: 500;
  border-radius: 15px;
  border: 3px solid var(--primary-color);
  background-color: var(--background);
  justify-self: center;
  padding: 8px 16px;
}

/*Text*/

h1 {
  font-size: var(--fs-4);
  line-height: 1.2;
  margin-bottom: 32px;
}

h1,
h1+p,
p {
  grid-column: 1/3;
  text-align: center;
}

p {
  font-size: var(--fs-3);
}

.highlight {
  color: var(--accent-color);
  position: relative;
  font-weight: 700;
}

.highlight::after {
  content: "";
  background-color: var(--accent-color);
  height: 8px;
  display: block;
  border-radius: 24px;
  position: absolute;
  inset: 52px 0 0 0;
}

p>.highlight::after {
  inset: 32px 0 0 0;
}

/*Inputs and labels*/

label[for="number-of-words"],
select {
  align-self: center;
}

.selection-number,
.input-word {
  border-bottom: none;
  justify-self: center;
}

select {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  border: 2px solid var(--primary-color);
  padding: 12px;
  border-radius: 10px;
  font-size: var(--fs-2);
  margin-left: 24px;
}

input[type="checkbox"] {
  margin-right: 12px;
  transform: scale(1.4);
  accent-color: var(--accent-color);
}

input[type="text"] {
  height: 51px;
  padding: 5px 10px;
  margin: 0 8px;
  font-family: inherit;
  font-size: inherit;
  flex-grow: 2;
  border: 0;
  border-radius: 15px;
  border: 2px solid var(--accent-color);
}

.input-word {
  padding: 0;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.all-kana label {
  font-size: var(--fs-3);
}

.word {
  grid-column: 1/3;
  font-size: var(--fs-5);
  font-family: 'Noto Sans JP', sans-serif;
  margin: 48px 0;
}

/*Buttons*/

button {
  border-radius: 10px;
  background-color: var(--accent-color);
  border-color: transparent;
  padding: 8px 24px;
  font-family: inherit;
  font-size: var(--fs-3);
  color: var(--grey-light);
  cursor: pointer;
  margin-top: 24px;
  transition: background-color 0.4s ease-out 0s;
}

.inactive {
  font-weight: 300;
  background-color: var(--background);
  border: 2px dashed var(--grey--medium);
  color: var(--grey--medium);
}

.buttons {
  justify-self: end;
  border: 0;
  padding-bottom: 0;
  background-color: transparent;
}

.buttons>button:first-of-type {
  margin-right: 24px;
}

.start {
  padding: 8px 36px;
}

.hiragana,
.katakana {
  font-size: var(--fs-4);
}

.hiragana,
.katakana {
  margin-top: 64px;
  grid-column: 1/3;
}

.next,
.back,
.solution,
.list {
  display: flex;
  border: 3px solid var(--accent-color);
  background-color: var(--background);
  color: var(--accent-color);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
}

.back {
  justify-self: end;
}

.list {
  margin-bottom: 32px;
}

.list,
.list+.start {
  grid-column: 1/3;
}

.back+.start {
  justify-self: start;
}

table+.start {
  grid-column: 1/3;
}

.next {
  grid-column: 1/3;
  margin-top: 96px;
}

.solution {
  grid-column: 1/3;
  margin-top: 48px;
}

.next svg,
.back svg,
.solution svg,
.list svg {
  fill: var(--accent-color);
  width: 24px;
}

button:active {
  background-color: var(--accent-color);
  color: var(--grey-light);
}

button:active>svg {
  fill: var(--grey-light);
}

.submit {
  border-radius: 15px;
  margin-top: 0;
}

/*Messages*/

.message,
.info {
  text-align: left;
  background-color: var(--primary-color-light);
  color: var(--grey-dark);
  padding: 12px;
  display: flex;
  align-items: center;
  font-size: var(--fs-2);
  margin: 24px 0;
  width: calc(100% - 48px);
}

.message {
  position: relative;
  z-index: 2;
}

.info {
  margin: 0;
}

.message svg,
.info svg {
  width: 24px;
  margin-right: 8px;
  fill: var(--accent-color);
  flex-shrink: 0;
}

/*Result page*/

.score {
  padding: 12px;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  background-color: var(--accent-color);
  border: 10px solid var(--primary-color);
  color: var(--grey-light);
  justify-content: center;
  align-items: center;
  font-size: var(--fs-6);
  justify-self: center;
  margin: 24px 0;
  position: relative;
  z-index: 2;
}

.score+p {
  margin-top: 32px;
}

/*Progress circle*/

.progress {
  grid-column: 1/3;
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 0;
  justify-self: center;
}

.progress::before {
  content: "";
  position: absolute;
  height: 108px;
  width: 108px;
  border-radius: 50%;
  background-color: var(--background);
}

.progress>p {
  position: relative;
}

/*Table*/

table {
  grid-column: 1/3;
  border-collapse: collapse;
  border-top: 3px solid var(--primary-color);
  margin-bottom: 48px;
}

.info+table {
  margin-top: 24px;
}

th,
td {
  text-align: left;
  padding: 15px 25px;
}

tr {
  border-bottom: 1px solid var(--primary-color);
}

tr:last-child {
  border-bottom-width: 3px;
}

.wrong {
  background-color: var(--primary-color-light);
}

/*Footer*/

footer {
  grid-row: 3;
  padding: 12px 0;
  background-color: var(--primary-color);
  justify-self: stretch;
  text-align: center;
  margin-top: 32px;
  font-size: var(--fs-1);
}

/*Media queries*/

@media (min-width: 31.25rem) {

  .hiragana,
  .katakana {
    grid-column: auto;
  }

  input[type="text"] {
    margin: 0;
  }
}

@media (min-width: 37.5rem) {

  main>div {
    grid-column: auto;
  }

  main>div:last-of-type {
    grid-column: 1/3;
  }

  h1 {
    font-size: var(--fs-5);
  }

  .highlight::after {
    inset: 70px 0 0 0;
  }
}

@media (min-width: 56.25rem) {

  body {
    background-size: contain;
  }

  main {
    max-width: 56.25rem;
  }

}

@media(hover:hover) {

  button:hover {
    background-color: var(--primary-color);
    color: var(--grey-dark);
    border-color: transparent;
  }

  button:hover>svg {
    fill: var(--grey-dark);
  }
}

@media (prefers-reduced-motion: reduce) {

  button,
  .message,
  .solution {
    transition: none;
    animation: none;
  }
}

/*Animations*/

.message,
.solution {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.score {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.word {
  -webkit-animation: fade-in 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}